<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="resources grid grid-4col">
      <div class="resource flex-group-center">
        <label for="system.health.value" class="resource-label">Is Core?</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input style="margin:auto" type="checkbox" name="system.core" {{checked system.core}}>
        </div>
      </div>
      <div class="resource flex-group-center">
        <label for="system.health.value" class="resource-label">AP</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input type="number" name="system.ap" value="{{system.ap}}" data-dtype="Number" />
        </div>
      </div>
      <div class="resource flex-group-center">
        <label for="system.health.value" class="resource-label">RANGE</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input type="number" name="system.sal" value="{{system.sal}}" data-dtype="Number" />
        </div>
      </div>
      <div class="resource flex-group-center">
        <label for="system.health.value" class="resource-label">SALVO</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input type="number" name="system.ran" value="{{system.ran}}" data-dtype="Number" />
        </div>
      </div>
    </div>
    <hr style="border-top: 3px solid #bbb" />
    <table class="damage-slider">
      <tr>
        <th>POWER BASELINE</th>
        <th>DAMAGE</th>
      </tr>
      {{#each system.dam.slider as |val key|}}
      <tr>
        <td>{{key}}</td>
        <td>{{val}}</td>
      </tr>
      {{/each}}
    </table>
  </section>
</form>