<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
      <select name="system.type">
        {{selectOptions traitTypes selected=system.type localize=true}}
      </select>
    </div>
  </header>

  <section class="sheet-body">
    <label for="system.description" class="sellsoul-block-label">DESCRIPTION</label>
    {{editor system.description class="sheetEditor" target="system.description" button=true owner=owner
    editable=editable}}
    <hr />
    <label for="system.rules" class="sellsoul-block-label">RULES</label>
    {{editor system.rules class="sheetEditor" target="system.rules" button=true owner=owner
    editable=editable}}
  </section>
</form>