<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
      {{#unless system.core}}
      <div class="resources grid grid-4col">
        <div class="resource flex-group-center">
          <label for="system.charges.value" class="resource-label">Charges</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.charges.value" value="{{system.charges.value}}" data-dtype="Number" />
            <span> / </span>
            <input type="text" name="system.charges.max" value="{{system.charges.max}}" data-dtype="Number" />
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="system.charges.reload" class="resource-label">Reload</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.charges.reload" value="{{system.charges.reload}}" data-dtype="Number" />
          </div>
        </div>
      </div>
      {{/unless}}
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="resources grid grid-4col">
      <div class="resource flex-group-center">
        <label for="system.health.value" class="resource-label">Is Core?</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input style="margin:auto" type="checkbox" name="system.core" {{checked system.core}}>
        </div>
      </div>
      <div class="resource flex-group-center">
        <label for="system.health.value" class="resource-label">AP</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.ap" value="{{system.ap}}" data-dtype="Number" />
        </div>
      </div>
      <div class="resource flex-group-center">
        <label for="system.health.value" class="resource-label">RANGE</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.sal" value="{{system.sal}}" data-dtype="Number" />
        </div>
      </div>
      <div class="resource flex-group-center">
        <label for="system.health.value" class="resource-label">SALVO</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.ran" value="{{system.ran}}" data-dtype="Number" />
        </div>
      </div>
    </div>
    <hr style="border-top: 3px solid #bbb" />
    <table class="damage-slider">
      <tr>
        <th>POWER BASELINE</th>
        <th>DAMAGE</th>
      </tr>
      {{#each system.dam.slider as |val key|}}
      <tr>
        <td>{{key}}</td>
        <td>{{val}}</td>
      </tr>
      {{/each}}
    </table>
    {{editor "<div class=\"dam-slider-edit-label\">EDIT DAM SLIDER</div>" target="system.dam.text" button=true
    engine="tinymce" collaborate=false}}
  </section>
</form>